<div class="header">
    <h1 class="header-title"><a href="/">Game Inventory</a></h1>
    <!--
    Add an search input field that queries
    searches and outputs the results
    Add a shopping cart as well
    -->
    <form action="/search" method="GET">
        <input type="text" name="q" placeholder="search..." required>
        <button type="submit">Search</button>
    </form>
</div>