<div class="header">
    <h1 class="header-title"><a href="/">Game Inventory</a></h1>
    <!--
    Add an search input field that queries
    searches and outputs the results
    Add a shopping cart as well
    -->
    <nav class="header-links"><h1>Search...</h1></nav>
</div>