<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main class="all-games">
        <div class="show-all-games">
            <% for(let i = 0; i < games.length; i+=1) { %>
                <div class="game" id=<%=`${id[i]}`%>><%=games[i]%></div>
            <%}%>
            <div class="game add-game" id="">+</div>
            <div class="game add-game" id="">+</div>
            <div class="game add-game" id="">+</div>
            <div class="game add-game" id="">+</div>
            <div class="game add-game" id="">+</div>
            <div class="game add-game" id="">+</div>
            <div class="game add-game" id="">+</div>
            <div class="game add-game" id="">+</div>
            <div class="game add-game" id="">+</div>
            <div class="game add-game" id="">+</div>
            <div class="game add-game" id="">+</div>
            <div class="game add-game" id="">+</div>
            <div class="game add-game" id="">+</div>
            <div class="game add-game" id="">+</div>
            <div class="game add-game" id="">+</div>
            <div class="game add-game" id="">+</div>
        </div>
    </main>
    <footer></footer>
</body>
</html>