<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/header.ejs') %>
<div>
    <% for (let i = 0; i < games.length; i +=1) { %>
        <div class="game-1">Title: <%= games[i] %> Made by: <%= developers[i] %></div>
    <% } %>
</div>
</body>
</html>