<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main class="index">
        <div class="top-content">
            <h2 class="index-greeting">Video Game Inventory App</h2>
            <h4>Store and log all your favorite video games!</h4>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>