<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main class="index">
        <div class="top-content">
            <h2>Online video game collection</h2>
        </div>
    </main>
    <!-- <div>
        <% for (let i = 0; i < games.length; i +=1) { %>
            <div class="game-1">Title: <%= games[i] %> Made by: <%= developers[i] %></div>
        <% } %>
    </div> -->
    <footer></footer>
</body>
</html>