<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main class="index">
        <div class="top-content">
            <h2>Online video game collection</h2>
        </div>
    </main>
    <footer></footer>
</body>
</html>