<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="top-content">
            <h2>Browse thousands of video games</h2>
        </div>
        <div class="bottom-content">
            <div class="top">Name</div>
            <div class="middle">Genre</div>
            <div class="bottom">Developer</div>
        </div>
    </main>
    <!-- <div>
        <% for (let i = 0; i < games.length; i +=1) { %>
            <div class="game-1">Title: <%= games[i] %> Made by: <%= developers[i] %></div>
        <% } %>
    </div> -->
    <footer></footer>
</body>
</html>