* {
  margin: 0;
  padding: 0;
  color: darkslategrey;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  background-color: rgb(212, 216, 218);
  margin: 0px 20px 0 20px;
}

.header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  padding: 50px 0px 0px 0px;
}

.top-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-content {
  margin-top: 10px;
  background-color: aquamarine;
  border-radius: 5px;
}

.bottom-content .top,
.bottom-content .bottom {
  background-color: bisque;
  margin: 10px;
}

footer {
  height: 70px;
  background-color: black;
}
